.check-box {
	display: inline-block;

	.check-icon {
		border-radius: 50%;
		border: 2px solid #000;
		transition: @trans-all300;
		cursor: pointer;

		&.active { background-color: #000; }

	}

	label {
		position: relative;
		left: 10px;
	}
}
