.task-list-item {
	position: relative;
	span {
		opacity: 0;
		transition: @trans-all300;

		.btn-transparent {
			.button-variant(@gr2; transparent; transparent);
			position: absolute;
			bottom: 8px;
			right: 0;
			border: none;
			font-size: 10px;
			padding: 6px 8px;
			transition: background 3ms, color 3ms;

			&:focus, &:active {
				.button-variant(@gr2; transparent; transparent);
				outline: none;
				box-shadow: none;
			}

			&:hover {
				color: @gr1;
				background: rgba(0,0,0, .1);
			}
		}
	}

	&:hover {
		span { opacity: 1 }
	}

	&:after { // bottom border
		position: relative;
		bottom: 0;
		left: 30px;
		width: ~"calc(100% - 30px)";
		height: 1px;
		display: block;
		content: "";
		background: @gr2;
	}
}
