#layout {
	.list-container {
		min-height: 650px;
		padding-bottom: 76px;  // match height of task-input-form > input
		.bg-white;
		.border-gr3;
		.radius-s;
		.box-shadow-light;
		.padding-top;
		.margin-xl;
	}

	.input-container {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	.task-count {
		position: absolute;
		right: 0;
	}
}
