.task-list-item {
	position: relative;
	span {
		opacity: 0;
		transition: @trans-all300;

		.btn-transparent {
			.button-variant(@gr1; transparent; transparent);
			position: absolute;
			bottom: 7px;
			right: -10px;
			border: none;
			font-size: 10px;

			&:focus, &:active {
				.button-variant(@gr2; transparent; transparent);
				outline: none;
				box-shadow: none;
			}

			&:hover {
				font-weight: 600;
			}
		}
	}

	&:hover {
		span { opacity: 1 }
	}

	&:after { // bottom border
		position: relative;
		bottom: 0;
		left: 30px;
		width: ~"calc(100% - 30px)";
		height: 1px;
		display: block;
		content: "";
		background: @gr2;
	}
}
