// Display
.inline { display: inline; }
.inline-block { display: inline-block; }
.table { display: table; }

// Positioning
.fixed { position: fixed !important;}
.absolute { position: absolute !important;}
.relative { position: relative !important;}

// Centering
.center-content {
	display: flex;
	justify-content: center;
}

.align-vertical {
	display: table-cell;
	vertical-align: middle;
}

.vertically-center {
	position: relative;
	transform: translateY(-50%);
	top: 50%;
}

// Flip
.flip-vertical {
	transform: rotate(180deg);
}

// Ellipses
.overflow-ellipses {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

// Border Radius
.radius-xs { border-radius: @space-xs; }
.radius-s { border-radius: @space-s; }
.radius { border-radius: @space; }

.radius-s-top {
	border-top-left-radius: @space-s;
	border-top-right-radius: @space-s;
}

.radius-s-bottom {
	border-bottom-left-radius: @space-s;
	border-bottom-right-radius: @space-s;
}

// Shadows
.box-shadow { box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); }
.box-shadow-light { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }

// Full screen coverage
.full-screen {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	position: absolute;
	z-index: 1;
	opacity: 0.5;
	height: 100vh;
}

// Textarea
.resize-none {
	resize: none;
}
